<section id="header-content">
  <div id="header-title">
    <h3>Our platform connects you with global manufacturers. Place orders for production, and then sit back as we guide you through every single step.</h3>
    <button id="get-started-btn">Get started</button>
  </div>
</section>

<section id="get-started-smooth-scroll">
  <div id="categories">
    <h2>We can connect you with hundreds of suppliers in the following product categories:</h2>
    <div>
      <div class="homepg-category-wrapper" *ngFor="let label of categories.labels">
        <a [routerLink]="['/suppliers']"><button class="homepg-category-link">{{label}}</button></a>
        <!-- how to disable other links? -->
      </div>
    </div>
  </div>
</section>