<section id="header-content">
  <div>
    <h3>[Name] is a supply chain platform that connects brands with global manufacturers and guides you through order management.</h3>
    <button id="get-started-btn">Get started</button>
  </div>
</section>

<section id="get-started-smooth-scroll">
  <div id="categories">
    <h2>We can connect you with hundreds of suppliers in the following product categories:</h2>
    <div>
      <div  *ngFor="let label of categories.labels">
        <a [routerLink]="['/suppliers']"><button class="homepg-category-link">{{label}}</button></a>
        <!-- how to disable other links? -->
      </div>
    </div>
  </div>
</section>