<div id="order-card-wrapper">
  
  <div *ngIf="!order">
    Loading...
  </div>
  
  <div *ngIf="order" class="order-card">
    <div id="order-img">
      <img src="{{order.product.photoUrl}}" alt="{{order.product._id}} photo">  
    </div>
    
    <div>
      <p><strong>Product:</strong> {{order.product.name}}</p>
      <p><strong>Brand:</strong> {{order.brand.username}}</p>
      <p><strong>Supplier:</strong> {{order.supplier.username}}</p>
    </div>
  </div>

  <p><strong>Next step needed:</strong> {{nextStepText}}</p>
  <button *ngIf="showNextStepButton" (click)="handleAdvanceClick()">confirm and advance</button>

</div>
