#order-card-wrapper {
  border: 1px solid gray;
  width: 100%;
  margin: 5vh 0;
}

.order-card {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 100%;
}

#order-img {
  width: 40vw;
}

#order-img img {
  width: 30vw;
}


@media (max-width: 768px) {
  .order-card {
    display: block;
  }
  #order-img img {
    width: 90%;
  }
}