<section id="suppliers-wrapper">

  <h1>Footwear suppliers</h1>
  
  <div *ngIf="!suppliers">
    <p>Sorry, there are no suppliers for this product category yet! Check back again soon.</p>
  </div>
  
  <div *ngFor="let supplier of suppliers">
    <h2>{{supplier.username}}</h2>
    <div class="supplier-card">
      <div class="supplier-img-div">
        <img src={{supplier.photoUrl}} alt="supplier's photo">
      </div>
      <div class="supplier-description">
        <p>Our sandal and shoe factory occupies a beautiful neo-brutalist building in Brescia, Italy. Here, 60 craftspeople work in
          a 7,685 square ft facility. Owners Paolo and Tita have overseen it for 20 years but told us that many of the employees have
          been there for more than 30.</p>
      </div>
    </div> 
  </div>
    
  <h2>Products</h2>
  <div class="sketchfab-embed-wrapper">
    <!-- store the id in the product backend and populate the URL with it -->
    <iframe src="https://sketchfab.com/models/8f360e5fcd65421daf04883e2993d523/embed?autospin=0.2&amp;autostart=1&amp;preload=1"
    frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

    <iframe src="https://sketchfab.com/models/9aa7dc3f14ef43a2b66eb992f38b88c8/embed?autospin=0.2&amp;autostart=1&amp;preload=1"
      frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

    <iframe src="https://sketchfab.com/models/17f21b0a2515455f96ad194ad5be9142/embed?autospin=0.2&amp;autostart=1&amp;preload=1"
      frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
  </div>

  <div id="products-wrapper">
    <!-- scalable version of the product card -->
    <div *ngFor="let product of products">
      <img src={{product.photoUrl}} alt="{{product._id}} photo URL">
      <p>Product name: {{product.name}}</p>
      <a [routerLink]="['/products', product._id]"><button>See details and place order</button></a>
    </div>

    <!-- testing how to manually show the data per product so I can embed the 3d models - or is there a way to embed the iframe into the seed file?-->
    <p *ngIf="products">{{products[0].name}}</p>
    <!-- the below code isnt working yet to show the router links needed -->
    <!-- <a [routerLink]="['/products', products[0]._id]"><button>See details and place order</button></a> -->
  </div>
  </section>

