<h1>Footwear suppliers</h1>

<!-- <div *ngIf="supplier"> -->
<!-- need to build logic into the find function to change supplier to true if supplier -->
</div>
<!-- {{supplier.name}} -->
<div>
  <p>Description Description Description Description Description Description</p>
  <!-- <img src={{supplier.photoUrl}} alt=""> -->
</div>

<!-- <div id="products" *ngFor"let product of products">
  <img src={{product.photoUrl}} alt="" />
  <p>{{product.name}}</p>
  <h3>Subcomponents each come from a different supplier</h3>
  <div *ngFor="let subcomponent of subcomponents">
    <img src={{subComponent.photoUrl}} alt="" />
    <p>{{subComponent.subComponentName}}</p>
    <p>{{subComponent.subSupplierName}}</p>
  </div> -->
</div>
