<body class='container'>
  <nav id="nav">
    <a [routerLink]="['/']">
      <img src="../assets/images/final-logo.png" alt='logo'>
    </a>
    <div id='web-nav' [ngClass]="{'is-user': user, 'is-anon': anon}">
      <ul *ngIf="!!user">
        <li>
          <a id="nav-btn" [routerLink]="['/openorders']">manage orders</a>
        </li>
        <li>
          <a id="nav-btn" (click)="logout()">logout</a>
        </li>
      </ul>
      <ul *ngIf="anon">
        <li>
          <a [routerLink]="['/signup']">signup</a>
        </li>
        <li>
          <a [routerLink]="['/login']">login</a>
        </li>
      </ul>
    </div>

    <!-- Have not fixed this yet -->
    <div id="mobile-nav">
      <div class="menu-btn" id="menu-btn">
        <div></div>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="responsive-menu">
        <ul *ngIf="!!user">
          <li>
            <a id="nav-btn" [routerLink]="['/openorders']">manage orders</a>
          </li>
          <li>
            <a id="nav-btn" (click)="logout()">logout</a>
          </li>
        </ul>
        <ul *ngIf="anon">
          <li>
            <a [routerLink]="['/signup']">signup</a>
          </li>
          <li>
            <a [routerLink]="['/login']">login</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

  <div id="site-main" class="container">
    <router-outlet></router-outlet>
  </div>
  
  <footer id="site-footer">
    <div class="container">
      <p>Built by Lennie Zhu, May 2018</p>
    </div>
  </footer>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


