<section id="signup-content">
  <h1>sign up</h1>
  <form (ngSubmit)="submitSignupForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
      <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="5" [disabled]="processing" placeholder="username"/>
      <div *ngIf="feedbackEnabled && usernameField.errors">
        <p *ngIf="usernameField.errors.required" class="validation">username is required</p>
        <p *ngIf="usernameField.errors.minlength" class="validation">username is too short</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && emailField.errors}">
      <input type="email" name="email" [(ngModel)]="email" #emailField="ngModel" required [disabled]="processing" placeholder="email"/>
      <div *ngIf="feedbackEnabled && emailField.errors">
        <p *ngIf="emailField.errors.required" class="validation">email is required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}">
      <input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required minlength="5" [disabled]="processing" placeholder="password"/>
      <div *ngIf="feedbackEnabled && passwordField.errors">
        <p *ngIf="passwordField.errors.required" class="validation">password is required</p>
        <p *ngIf="passwordField.errors.minlength" class="validation">password is too short</p>
      </div>
    </div>

    <div>
        <select name="role" [(ngModel)]="role" #roleField="ngModel" required [disabled]="processing" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}" placeholder="your role">
          <option disabled selected value="">select your role</option>
          <option>brand</option>
          <option>supplier</option>
        </select>
        <div *ngIf="feedbackEnabled && passwordField.errors">
          <p *ngIf="roleField.errors.required" class="validation">role is required</p>
        </div>
    </div>

    <div class="field submit">
      <button type="submit" [disabled]="processing">sign up</button>
      <div *ngIf="feedbackEnabled && form.invalid">
        <!-- <p class="validation">please review fields</p> -->
      </div>
    </div>
  </form>
</section>