#login-content {
  height: 100vh;
  width: 100vw;
  background-image: url('../../../assets/images/bw-sew.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
}

@media (max-width: 768px) {
  #login-content {
    align-items: center;
    padding: 0;
  }
}

#login-content {
  color: white;
}